.rune_1{
	position: absolute; bottom: 24px; left: 41px;
}
.rune_2{
	position: absolute; bottom: 25px; left: 103px;
}
.rune_3{
	position: absolute; bottom: 23px; left: 176px;
}
.rune_4{
	position: absolute; bottom: 82px; left: 27px;
}
.rune_5{
	position: absolute; bottom: 85px; left: 89px;
}
.rune_6{
	position: absolute; bottom: 71px; left: 144px;
}
.rune_7{
	position: absolute; bottom: 133px; left: 50px;
}
.rune_8{
	position: absolute; bottom: 129px; left: 130px;
}
.rune_9{
	position: absolute; bottom: 172px; left: 91px;
}
.rune_10{
	position: absolute; bottom: 215px; left: 54px;
}
.rune_11{
	position: absolute; bottom: 219px; left: 125px;
}
.rune_12{
	position: absolute; bottom: 265px; left: 84px;
}
.rune_13{
	position: absolute; bottom: 287px; left: 139px;
}
.rune_14{
	position: absolute; bottom: 333px; left: 172px;
}
.rune_15{
	position: absolute; bottom: 359px; left: 228px;
}
.rune_16{
	position: absolute; bottom: 378px; left: 285px;
}
.rune_17{
	position: absolute; bottom: 396px; left: 350px;
}
.rune_18{
	position: absolute; bottom: 346px; left: 377px;
}
.rune_19{
	position: absolute; bottom: 395px; left: 417px;
}
.rune_20{
	position: absolute; bottom: 345px; left: 451px;
}
.rune_21{
	position: absolute; bottom: 395px; left: 483px;
}
.rune_22{
	position: absolute; bottom: 308px; left: 498px;
}
.rune_23{
	position: absolute; bottom: 355px; left: 528px;
}
.rune_24{
	position: absolute; bottom: 395px; left: 566px;
}
.rune_25{
	position: absolute; bottom: 361px; left: 615px;
}
.rune_26{
	position: absolute; bottom: 320px; left: 575px;
}
.rune_27{
	position: absolute; bottom: 267px; left: 596px;
}
.rune_28{
	position: absolute; bottom: 330px; left: 50px;
}
.rune_29{
	position: absolute; bottom: 145px; left: 205px;
}
.rune_30{
	position: absolute; bottom: 195px; left: 435px;
}